body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-container{
    background-color:rgb(174, 234, 238);
    position: relative;
    padding-top: 100px;
}

h1{
    font-size: 5.625rem;
    margin-bottom: auto;
    margin: 50px auto 20px auto;
    font-family: 'Sacramento', cursive;
}
h2{
    font-family: 'Montserrat', sans-serif; 
    font-size: 2.5rem;
}

.intro{
    position: relative;
}

.top-cloud{
    position: absolute;
    top: 50px;
    right: 400px;    
}

.bottom-cloud{
    position: absolute;
    left: 400px;
    bottom: 300px;
}

.mountain{

}

.middle-container{

}
.bottom-container{

}